/* ---------------- Formato para Footer - seccion de Contacto --------------- */

footer .contacto {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(143, 143, 143, 1) 45%);
    color: rgb(255, 255, 255);
    padding: 10px;
}

footer .contacto .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 60px;
    font-weight: 300;
    color: #59595e;
    text-align: center;
}

footer .contacto img {
    max-width: 100%;
    height: auto;
}

footer .contacto .info, footer .contacto .phone {
    font-size: 20px;
}

/* ------- Formato para Footer - seccion de Redes Sociales y Copyright ------ */

footer .redes-sociales {
    background: rgb(89, 89, 94);
    background: linear-gradient(180deg, rgba(89, 89, 94, 1) 0%, rgba(46, 46, 46, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes-sociales .contenedor a {
    color: #FFFFFF;
    text-align: center;
    width: 100px;
    font-size: 30px;
    padding: 15px 0;
    display: block;
    margin: 0 20px;
    border-radius: 3px;
}

footer .redes-sociales .facebook:hover {
    background: #0E90F2;
}

footer .redes-sociales .whatsapp:hover {
    background: #01E675;
}

footer .redes-sociales .instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

footer .copyright {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* ----------------- Codigo en caso del uso de un formulario ---------------- */

/* footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer .contacto .formulario input[type="text"], footer .contacto .formulario input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
  }
  
  footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    min-height: 100px;
    max-height: 300px;
  }
  
  footer .contacto .formulario .boton {
    margin: auto;
    background: #5a5a5a;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
  }
  
  footer .contacto .formulario .boton:hover {
    background: #383838;
  } */

/* -------------------------------------------------------------------------- */