* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #40438c;
  color: #FFFFFF;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.contenedor {
  width: 95%;
  background: transparent;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header {
  background: url('../img/fondo.png') #F9DC98;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 400px;
  color: #FFFFFF;
}

header .navbar{
  margin: 40px 0;
  text-align: right;
} 

header .navbar a{
  display: inline-block;
  color: #FFFFFF;
  margin: 0 20px;
  padding-bottom: 9px;
  text-decoration: none;
  font-size: 1em;
  border-bottom: 2px solid transparent;
}

header .navbar a:hover{
  border-bottom: 2px solid #FFFFFF
}

header .contenedor-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 100px 0;
}

header .contenedor-texto .texto {
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
}

header .contenedor-texto .texto h1 {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 50px;
}

header .contenedor-texto .texto h2 {
  font-size: 25px;
  line-height: 25px;
}

.main .contenedor {
  overflow: visible;
}

/* Formato para Footer - seccion de Contacto */

footer .contacto {
  background: #aca6a6fb;
  padding: 10px;
}

footer .contacto .title {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 60px;
  font-weight: 300;
  color: #59595e;
  text-align: center;
}

footer .contacto img{
  max-width: 100%;
  height: auto;
}

/* footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .contacto .formulario input[type="text"], footer .contacto .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
}

footer .contacto .formulario textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  min-height: 100px;
  max-height: 300px;
}

footer .contacto .formulario .boton {
  margin: auto;
  background: #5a5a5a;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
}

footer .contacto .formulario .boton:hover {
  background: #383838;
} */

/* Formato para Footer - seccion de Redes Sociales */

footer .redes-sociales {
  background: #383838;
}

footer .redes-sociales .contenedor {
  display: flex;
  justify-content: center;
}

footer .redes-sociales .contenedor a {
  color: #FFFFFF;
  text-align: center;
  width: 100px;
  font-size: 30px;
  padding: 15px 0;
  display: block;
  margin: 0 20px;
  border-radius: 3px;
}

footer .redes-sociales .facebook:hover {
  background: #0E90F2;
}

footer .redes-sociales .instagram:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

footer .copyright {
  background: #000000;
  color: #FFFFFF;
  text-align: center;
}